body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(../img/Wood-Sencha.jpg);
	background-color: #5b6e38;
}

.logo {
	top: -60px;
	position: absolute;
	left: 25%;
}

#box {
	background: url(../img/box.png);
	width: 504px;
	height: 383px;
	margin: 15% auto 0;
	position: relative;
}

a.forgot {
	display: block;
	margin: 0 auto;
	text-decoration: none;
	width: 504px;
	font-size:14px;
	color: #ffffff;
	text-align:center;
	text-shadow:0px 1px 3px rgba(0,0,0,0.75);
}

a.forgot:hover {
	color: rgba(255, 255, 255, .75);
}

h1 {
	font-size:26px;
	font-weight:bold;
	text-align:center;
	text-shadow:0px 1px 0px rgba(255,255,255,0.35);
	position: absolute;
	top: 55px;
	text-align: center;
	width: 504px;
	opacity: 0.7;
}

#box form input[type=text], #box form input[type=password] {
	position: absolute;
	border: none;
	background: url(../img/input.png);
	display: block;
	height: 54px;
	width: 319px;
	padding: 0 10px;
	font-size:16px;
	color:rgba(0,0,0,0.7);
	text-align:left;
	text-shadow:0px 1px 0px rgba(255,255,255,0.28);
	}

#box form input[type=text]:focus, #box form input[type=password]:focus {
	outline: none;
	opacity: 1;
	background-position: 0 -54px;
}

#box form input[type=text]{
	left: 82px;
	top: 120px;
}

#box form input[type=password]{
	left: 82px;
	top: 180px;
}

#box form input[type=checkbox] {
	position: absolute;
	left: 300px;
	top: 268px;
	opacity: 0.8;
}

#box form label {
	position: absolute;
	left: 320px;
	top: 269px;
	font-size:14px;
	color:rgba(255,255,255,0.8);
	text-align:left;
	text-shadow:0px 1px 0px rgba(0,0,0,0.17);
}

#box form label:hover {
	color:rgba(255,255,255,1);
}

#box form input[type=button], #box form input[type=submit] {
	background: url(../img/button.png) no-repeat;
	border: none;
	display: block;
	position: absolute;
	top: 255px;
	left: 84px;
	width: 203px;
	height: 44px;
	cursor: pointer;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color: #333;
	text-shadow:0px 1px 0px rgba(255,255,255,0.35);
}

#box form input[type=button]:hover, #box form input[type=submit]:hover{
	background-position: 0 -44px;
}

#box form input[type=button]:active, #box form input[type=submit]:active{
	background-position: 0 -88px;
}