

	td{
		height: 30px;
	}
	


a {
	font-family: "ו";
	font-size: 14px;
	color: #555555;
	text-decoration: none;
}
a:hover {
	font-family: "ו";
	font-size: 14px;
	color: #FF0000;
	text-decoration: underline;
}