

body {
    font-size:12px;
}

/* 可抽取出 global.css  START*/
html, body, div, span, object, iframe, pre, a, code, font, ul, li, img, samp, small, strong, big, form, label, table, caption, tr, td {
    margin:0px;
	padding:0px;
	border:0px;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-family:inherit;
	text-align:left;
	vertical-align:baseline;
}

.content { 
	clear:both;
	margin:0px auto 0px auto;
	text-align:left;
}
/* 可抽取出 global.css  END*/

.content {
	padding: 5px;
}

/* 可抽取出 layouts.css  START*/

/* header start*/
#header {
	width:100%;
	height:60px;
	position:relative;
}

#main_title {
	font-size: xx-large;
	color: #969D98;
	float: left;
	position:absolute;
	left:10px;
	top:10px;
}

#personal {
    position:absolute;
	right:10px;
	top:20px;
	width:auto;
}
/* header end*/

/* nav start*/
#nav {
    width:100%;
	height:40px;
	line-height:40px;
	background:#00ae9d;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
#nav li {
    list-style:none;
}
#nav a {
    color:#fff;
	border-right: 1px solid #fff; /* | menu1 | menu2 | border*/
	padding: 0 1em 0 0;
}
#nav ul li {
    float:left;
	padding:0px 5px;
	margin:0px 10px;
}
/* nav end*/

/* main start */
#main {
    width:100%;
    text-align: left;
    height:100%;
}
#left {
	width:190px;
	height:300px;
	text-align:left;
	
	vertical-align:top;
	padding-top:15px;
}
#right {
    background:#fff;
	vertical-align:top;
}
/* main end */

/* 可抽取出 layouts.css  END*/

