.icon-word {
    background-image:url( ../images/page_white_word.png) !important;
}

.icon-ppt {
    background-image:url( ../images/page_white_powerpoint.png ) !important;
}

.icon-excel {
    background-image:url( ../images/page_white_excel.png ) !important;
}

.icon-folder {
    background-image:url( ../images/folder.gif ) !important;
}

.icon-app {
    background-image:url( ../images/application.png ) !important;
}

.icon-net-address {
    background-image:url( ../images/page_world.png ) !important;
}

.icon-personality {
    background-image:url( ../images/bricks.png ) !important;
}

.icon-title-shortcut {
    background-image:url( ../images/shape_move_forwards.png ) !important;
}

.icon-cascade-shortcut {
    background-image:url( ../images/shape_move_front.png ) !important;
}

.icon-sort-shortcut {
    background-image:url( ../images/hmenu-asc.gif ) !important;
}

.icon-layout-shortcut {
    background-image:url( ../images/shape_group.png ) !important;
}

.icon-refresh {
    background-image:url( ../images/refresh.gif ) !important;
}

.icon-display-desktop {
    background-image:url( ../images/shape_handles.png ) !important;
}

.icon-console {
    background-image:url( ../images/console.png ) !important;
}

.icon-terminal {
    background-image:url( ../images/terminal.png ) !important;
}

.icon-console-error-show {
    background-image:url( ../images/console_error_show.png ) !important;
}
.icon-console-update-show {
    background-image:url( ../images/console_update_show.png ) !important;
}
.icon-console-clear {
    background-image:url( ../images/console_clear.png ) !important;
}

.icon-console-lock {
    background-image:url( ../images/console_lock.png ) !important;
}

.icon-console-unlock {
    background-image:url( ../images/console_unlock.png ) !important;
}


